@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-display:  "League Spartan", sans-serif;
  --color-primary: #CA731C;
  --color-secondary: #FFF1F1;
  --color-dark: #222;

  --shadow-md: 0px 3px 8px rgba(0, 0, 0, 0.24); 
}